@import 'tailwindcss';

@theme {
  --color-brand-900: #17202a;
  --color-brand-700: #2c3e50;
  --color-brand-500: #4a6785;
  --color-accent-500: #b8860b;
}

body {
  background-color: #f7f7f5;
  color: var(--color-brand-900);
}
